<div class="main-container">
  <h2>Find Pairs</h2>
  <span>
    <p>This application search inside a set of numbers and find possible sets which sum is equal to provide value.</p>
    <p><b>For example:</b><br> If Provided number set is [1, 2, 3, 4, 5] and size of set is 2 and sum of subsets is 5 then all possible subsets are</p>
    <p>
      [1, 4], [2, 3]
    </p>
    <p>Another example can be if provided number set is 1, 2, 3, 5, 4, -1 and size of set is 3 and sum of subsets is 6 then all possible subsets are
    <p>
      [ 1, 2, 3 ], [ 2, 5, -1 ], [ 3, 4, -1 ]
    </p>
  </span>
  <h3><b>Try Logic here</b></h3>
  <div [formGroup]="formGroup" class="form-container">
    <mat-form-field>
      <label>List of numbers (1, 2, 5, 3 ...n)</label>
      <input matInput formControlName="allNumbers"/>
    </mat-form-field>
    <mat-form-field>
      <label>Set size(Minimum value: 2)</label>
      <input matInput formControlName="setSize"/>
    </mat-form-field>
    <mat-form-field>
      <label>
        Sum of set
      </label>
      <input matInput formControlName="setSum"/>
    </mat-form-field>
    <button mat-raised-button (click)="calculate()" color="primary" [disabled]="formGroup.invalid">Calculate</button>
  </div>
  <div *ngIf="allNumberSet.length">
    <h3><b>All Possible sets</b></h3>
    <div *ngFor="let item of allNumberSet; index as i" style="display: inline-block;">{{item | json}}{{ i < allNumberSet.length -1?", ": "" }}</div>
  </div>
  <div *ngIf="noResultFound">
    <mat-error>No Matching set found</mat-error>
  </div>
</div>